body {
    background-image: url("../img/background_XP.jpg");
  }
  
.borderframe {
    border: 1px solid black;
    padding: 0;
}

#main-logo {
    margin-top: 5px;
    margin-left: 5px;
    height: 100%;
    width: 100%;
    opacity: 49%;
}
.btn {
    display: block;
}

.search-btn {
    display: block;
}

.api-container {
    height: 300px;
    border-top: none;
    background-image: url("../img/background_XP.jpg");
    background-size: cover;
    
}

.icon-main {
    margin-top: -20px;
}
.app-title {
    text-align: center;
    position: relative;
    top: 15%;
    font-weight:bolder
}

header {
    height: 80px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgb(106, 27, 255) 0%, rgba(9,9,121,1) 62%, rgb(36, 32, 124) 100%); 
}

.form-input {
    width: 100%;
}

.search-btn {
    width: 100%;
    margin-top: 20px;
}

.btn {
    width: 100%;
}

.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.search-header {
    padding-left: 14px;  
    margin-bottom: -26px;
    margin-top: 4px;
}

.search-form {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -16px;
    padding-top: 0;
}

.search-container h3 {
    font-weight: bold;
}

.card {
    width: 12%;
    min-width: 177px;
    height: 14em;
    display: inline-flex;
    background-color: rgba(44, 44, 165, 0.705);
    border-radius: 10;
    border: 0;
    margin-right: 15px;
    margin-top: 4px;
    margin-left: 12px;
    background-image: url("../img/background_XP.jpg");
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.616);
}

.weather-card-container {
    margin: 0px;
}

.weather-container h5 {
    font-weight: bolder;
    font-size: x-large;
    margin-top: 12px;
}

h1 {
    color: white;
}

.forecast-thumbnail {
    height: 50px;
}

.card-header {
    padding: 0;
}

#main-weather h3 {
    display: inline-flex;
    margin-left: 8px;
    margin-top: 8px;
    font-weight: bolder;
}

#main-weather img {
    margin-left: 2px;
    height: 80px;
    width: 80px;
    position:
}

#main-weather h5 {
    margin-left: 8px;
    margin-bottom: 24px;
    
}

.icon-card {
    height: 80px;
    width: 80px;
}

.card-date {
    font-weight: bolder;
}